* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: auto;
  width: 30%;
  padding: 10px;

  .title {
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
  }

  .step {
    font-size: 13px;
    text-align: center;
    color: #9f9f9f;
    margin-bottom: 10px;
  }

  .container__name {
    color: #03037b;
    background: #eeeeee;
    padding: 14px 5px;
    text-align: center;
  }

  .body__container {
    text-align: left;
    height: 170px;
    border: 1px #150e0e solid;
  }

  .operating__container {
    padding: 20px;
  }

  .building__type__name {
    color: green;
    margin-left: 5px;
  }

  .button__container {
    margin: auto;
    padding: 10px;
    width: 70%;

    .button {
      width: 100px;
      height: 30px;
      border-radius: 10px;
      margin-right: 5px;
    }
  }
}

.step__two {
  .input {
    padding: 10px;
    width: 30%;
    margin-top: 40px;
    margin-left: 118px;
    border-color: #eeeeee;
  }
}

.step__four {
  .operating__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .input {
      padding: 10px;
      width: 30%;
      border-color: #eeeeee;
    }

    .x {
      margin-top: 10px;
      font-size: 20px;
    }
  }
}

.message {
  margin-top: 5px;
  text-align: center
}

.error__text {
  color: red;
}

.success__text {
  color: #03037b;
  margin-top:50px
}

.result__container{
  text-align: center;
  .error__text {
    margin-top: 50px
  }
}

.result{
  .button__container{
    width: 34%;
  }
}